
<div class="container">

<div class="row">

  <!--<p>HOLA MUNDO</p>

<div>
  <h1>{{ title }}</h1>
</div>
<div>
  La suma de 2 y 2 es {{ 2 + 2 }}
</div>

<div>EL DOBLE DE 4 ES {{duplicarNumero(4)}}</div>

<div>{{pelicula.titulo}}</div>
<div>{{pelicula.ANIO}}</div>
<div>{{pelicula.GENERO}}</div>

--<app-heroes-list><p>Heroes-list-work</p></app-heroes-list>-->
<!--<app-operas-bas/>-->
<!--<app-cinepolis></app-cinepolis>-->
<app-resistencia></app-resistencia>
<!--<app-practica-extra></app-practica-extra>-->

<router-outlet />


</div>
</div>

